body {
  background-color: gold;
  transition: 20s;
  font-family: Didot, serif;
}

.column {
    float: left;
    padding: 10px;
  }

.column.side {
    width: 25%;
  }

.column.middle {
    width: 50%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px){.column.side, .column.middle {width: 100%;}}


h1{
  text-align: center;
  padding-top: 100px;
  font-size: 56px;
  font-weight: bold;
}

h2{
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  font-weight: 100;
}

h3{
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
}

h4{
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
}

h5{
  text-align: center;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
}

p {
  text-align: left;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 100;
  line-height: 2.5;
}

hr.new1 {
  border: 1px solid black;
  width: 90%;
}


/*
.paragraph {
  padding: 20px;
} */






/*
a:link {
  color: red;
  text-decoration: none;
}


a:visited {
  color: green;
  text-decoration: none;
}


a:hover {
  color: blue;
  text-decoration: line-through;
}


a:active {
  color: blue;
}

.button {
  background-color: lavenderblush;
  border: 1px solid red;
  width: 70%;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonA {
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.grid-item {
  padding: 20px;
  font-size: 40px;
  text-align: center;
} */
